{% extends "base.html" %}
{% block content %}
<div class="box">
    <div class="tabs is-fullwidth is-toggle themed-tabs" data-default={{ default_view }}>
        <ul>
            <li class="tab is-active" id="done-tab" onclick="openTab('done')"><a>Done</a></li>
            <li class="tab" id="processing-tab" onclick="openTab('processing')"><a>Processing</a></li>
            <li class="tab" id="error-tab" onclick="openTab('error')"><a>Error</a></li>
            <li class="tab" id="abandoned-tab" onclick="openTab('abandoned')"><a>Abandoned</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane" id="done" data-clear-status="Done">
            {% include "clear_all_button.html" with status="Done" books=done_books %}
            {% include "book_list.html" with books=done_books clearable=True %}
        </div>
        <div class="tab-pane" id="processing" style="display: none;">
            {% include "book_list.html" with books=processing_books show_progress=True %}
        </div>
        <div class="tab-pane" id="error" style="display: none;" data-clear-status="Error">
            {% include "clear_all_button.html" with status="Error" books=error_books %}
            {% include "book_list.html" with books=error_books clearable=True %}
        </div>
        <div class="tab-pane" id="abandoned" style="display: none;" data-clear-status="Abandoned">
            {% include "clear_all_button.html" with status="Abandoned" books=abandoned_books %}
            {% include "book_list.html" with books=abandoned_books clearable=True %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {% include "book_tabs.js" %}
{% endblock %}
