{% if books|length > 0 %}
    {% for book, book_length in books %}
        <div class="columns" {% if show_progress %}data-poll-book="{{ book.pk }}" data-status-url="{% url 'book-status' book.pk %}"{% endif %}>
            {% if book.asin %}
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="content">
                        <ul style="list-style: none; margin-left: 0; margin-top: 0;">
                            <li><img src="{{ book.cover_image_link }}" style="border-radius: 10px;" alt=""></li>
                            <li><span class="has-text-weight-bold is-size-4">Title:</span> <span class="is-size-5"> {{ book.title }}{% if book.subtitle %} - {{ book.subtitle }}{% endif %}</span></li>
                            <li><span class="has-text-weight-semibold is-size-6">Author(s):</span> {% for author in book.authors.all %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ author.first_name }} {{ author.last_name }}{% endfor %}</li>
                            <li><span class="has-text-weight-semibold is-size-6">Narrator(s):</span> {% for narrator in book.narrators.all %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ narrator.first_name }} {{ narrator.last_name }}{% endfor %} </li>
                            {% if book.series %}<li><span class="has-text-weight-semibold is-size-6">Series:</span> {{ book.series }}</li>{% endif %}
                            <li><span class="has-text-weight-semibold is-size-6">Length:</span> {{ book_length }} </li>
                            <li><span class="has-text-weight-semibold is-size-6">Type:</span> <span style="text-transform:capitalize">{{ book.format_type }}</span></li>
                            <li><span class="has-text-weight-semibold is-size-6">Release Date:</span> {{ book.release_date }}</li>
                            <li><span class="has-text-weight-semibold is-size-6">Language:</span> <span style="text-transform:capitalize">{{ book.lang }}</span></li>
                            <li><span class="has-text-weight-semibold is-size-6">Publisher:</span> <span style="text-transform:capitalize">{{ book.publisher }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-three-quarter">
                <div class="box">
                    <div class="level">
                        <div class="level-left">
                            {% if selectable %}
                            <div class="level-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="book_ids" value="{{ book.pk }}">
                                    Select
                                </label>
                            </div>
                            {% endif %}
                        </div>
                        <div class="level-right">
                            {% if show_progress %}
                            <div class="level-item">
                                <form action="{% url 'abandon-job' book.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button class="button is-danger is-outlined is-small" type="submit">
                                        <span class="icon"><i class="fas fa-ban"></i></span>
                                        <span>Abandon</span>
                                    </button>
                                </form>
                            </div>
                            {% else %}
                            <div class="level-item">
                                <a class="button is-small" href="{% url 'edit-book' book.pk %}">
                                    <span class="icon"><i class="fas fa-pen"></i></span>
                                    <span>Edit</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if show_progress %}
                    <div class="content">
                        <progress id="progress-{{ book.pk }}" class="progress is-link" value="{{ book.status.progress_percent }}" max="100">{{ book.status.progress_percent }}%</progress>
                        <p id="stage-{{ book.pk }}">{{ book.status.stage|default:"Queued" }}</p>
                    </div>
                    {% endif %}
                    <div class="content">
                        <span class="has-text-weight-semibold is-size-3">Description:</span>
                        {% if book.status.status == 'Error' or book.status.status == 'Abandoned' %}
                        <p>{{ book.status.message }}</p>
                        {% else %}
                        <p>
                        {{ book.long_desc|safe }}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="block"></div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="content has-text-centered">
                    <h3>Nothing to see here.</h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}
