{% load directory_explorer_tags %}

{% for item in contents %}
    {% with id=item|generate_id item_str=item|as_str %}
        {% if item|is_directory %}
            <label class="panel-block folder{% if item_str in hidden_paths %} is-imported-hidden{% endif %}" id="{{ id }}" folder-id="{{folder_id}}" data-src-path="{{ item_str }}" style="display: {{ display }};">
                <div>
                    <button type="button" class="button is-success is-small mr-2" onclick="importEntry(this.closest('label').dataset.srcPath, this.closest('label'))">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>Import</span>
                    </button>
                    {% for i in depth|get_range %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <span class="panel-icon">
                        <i class="fas fa-folder" aria-hidden="false"></i>
                    </span>
                    {{item|basename}}
                </div>
                <span class="arrow mr-2 is-medium">
                    <i class="fas fa-lg fa-angle-right" id="{{ id }}" ></i>
                </span>
            </label>

            {% render_directory path=item folder_id=id depth=depth|add_one hidden_paths=hidden_paths %}

        {% else %}

        <label class="panel-block file{% if item_str in hidden_paths %} is-imported-hidden{% endif %}" style="display: {{ display }};" id="{{ id }}" folder-id="{{ folder_id }}" data-src-path="{{ item_str }}">
            <button type="button" class="button is-success is-small mr-2" onclick="importEntry(this.closest('label').dataset.srcPath, this.closest('label'))">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Import</span>
            </button>
            {% for i in depth|get_range %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
            <span class="panel-icon">
                <i class="fas fa-file" aria-hidden="false"></i>
            </span>
            {{item|basename}}
        </label>

        {% endif %}
    {% endwith %}
{% endfor %}
